<div class="px2-image{% if align %} px2-text-align-{{ align }}{% endif %}">
{% if href %}<a href="{{ href }}"{% if target %} target="{{ target }}"{% endif %}>{% endif %}<img src="{{ image_src }}" alt="{{ alt_text }}" />{% if href %}</a>{% endif %}
</div>
