<div{% if align %} class="px2-text-align-{{ align }}"{% endif %}>
<a href="{{ href }}"{% if target %} target="{{ target }}"{% endif %}{% if class %} class="{{ class }}"{% endif %}>{% if target == "_blank" %}<span class="px2-open-in-new-window">{% endif %}{{ label }}{% if target == "_blank" %}</span>{% endif %}</a>
</div>
